<!-- <div class="mainContent">
    <div class="login">
        <h1 for="EMAIL">List of all Users</h1>
        <div class="divScroll">
            <tr *ngFor="let user of users">
                <label>Name: </label>
                <td>{{user.name}}</td>
                <label>Age: </label>
                <td>{{user.age }}</td>
                <label>Email: </label>
                <td>{{user.email}}</td>
                <label>-------------------------------------------------------</label>
            </tr>
        </div>
        <br>
        <br>
        <div class="actions">
            <button (click)="nav('login')">LOGOUT</button>
        </div>
    </div> -->

<app-users></app-users>